pycparser==2.19
aioamqp==0.12.0
aiobotocore==0.10.0
aiodns==1.1.1
aiohttp==3.5.2
async-timeout==3.0.1
attrs==18.2.0
botocore==1.12.49
cchardet==2.1.4
chardet==3.0.4
codecov==2.0.15
colorama==0.4.1
coverage==4.5.2
docutils==0.14
execnet==1.5.0
jmespath==0.9.3
multidict==4.5.2
mypy==0.650
packaging==18.0
protobuf==3.6.1
pycares==2.4.0
pycodestyle==2.4.0
py==1.7.0
pyparsing==2.3.0
pytest==4.0.2
pytest-cov==2.6.0
pytest-forked==0.2
pytest-xdist==1.25.0
python-dateutil==2.7.5
pytz==2018.9
readme-renderer==24.0
requests==2.20.1
six==1.12.0
tzlocal==1.5.1
ujson==1.35
uvloop==0.11.3
yarl==1.3.0
