aioamqp==0.10.0
aiobotocore==0.5.2
aiohttp==2.3.8
async-timeout==2.0.0
botocore==1.8.29
chardet==3.0.4
codecov==2.0.13
coverage==4.4.2
docutils==0.14
jmespath==0.9.3
multidict==4.0.0
mypy==0.560
packaging==16.8
pycodestyle==2.3.1
py==1.5.2
pyparsing==2.2.0
pytest==3.3.2
pytest-cov==2.5.1
python-dateutil==2.6.1
pytz==2017.3
requests==2.18.4
six==1.11.0
tzlocal==1.5.1
ujson==1.35
uvloop==0.9.1
yarl==1.0.0
