pycparser==2.19
aioamqp==0.13.0
aiobotocore==0.12.0
aiodns==2.0.0
aiohttp==3.6.2
aioitertools==0.7.0
async-generator==1.10
async-timeout==3.0.1
attrs==19.3.0
botocore==1.17.9
cchardet==2.1.6
chardet==3.0.4
codecov==2.1.7
colorama==0.4.3
coverage==5.1
docutils==0.15.2
execnet==1.7.1
jmespath==0.10.0
multidict==4.7.6
mypy==0.780
packaging==20.4
protobuf==3.12.2
pycares==3.1.1
pycodestyle==2.6.0
py==1.8.2
pyparsing==2.4.7
pytest==5.4.3
pytest-cov==2.10.0
pytest-forked==1.1.3
pytest-xdist==1.32.0
python-dateutil==2.8.1
pytz==2020.1
readme-renderer==26.0
requests==2.23.0
six==1.15.0
typing_extensions==3.7.4
tzlocal==2.1
uvloop==0.14.0
yarl==1.4.2
